html[mode="dark"] {
    background-color: #222 !important;
  }
  
  body[mode="dark"] {
    filter: contrast(90%) invert(90%) hue-rotate(180deg) !important;
    -ms-filter: invert(100%);
    -webkit-filter: contrast(90%) invert(90%) hue-rotate(180deg) !important;
    text-rendering: optimizeSpeed;
    image-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -webkit-image-rendering: optimizeSpeed;
  }
  
  input[mode="dark"], textarea[mode="dark"], select[mode="dark"] {
    color: purple;
  }
  
  img[mode="dark"], video[mode="dark"], iframe[mode="dark"], canvas[mode="dark"], svg[mode="dark"], embed[type='application/x-shockwave-flash'][mode="dark"], object[type='application/x-shockwave-flash'][mode="dark"], *[style*='url('][mode="dark"] {
    filter: invert(100%) hue-rotate(-180deg) !important;
    -ms-filter: invert(100%) !important;
    -webkit-filter: invert(100%) hue-rotate(-180deg) !important;
  }